@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To MegaDesk</h1>
    <p>In the modern home office everyone needs a desk. We make the best ergonomic desks for an at home office? think not? test us get a quote now!</p>
    <a class="btn" asp-page="/Quote/Create">Get Quote Now!</a>
</div>
