@page
@model MegadeskRazorPages.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="col-lg-12 order-md-1">
    <p><a asp-page="Index">< Return to quotes listing</a></p>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Quote.ID" />
        <div class="row">
            <div class="form-group col-md-3">
                <label asp-for="Quote.CustomerName" class="control-label"></label>
                <input asp-for="Quote.CustomerName" class="form-control" />
                <span asp-validation-for="Quote.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Quote.DeskWidth" class="control-label"></label>
                <input asp-for="Quote.DeskWidth" class="form-control" />
                <span asp-validation-for="Quote.DeskWidth" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Quote.DeskDepth" class="control-label"></label>
                <input asp-for="Quote.DeskDepth" class="form-control" />
                <span asp-validation-for="Quote.DeskDepth" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label asp-for="Quote.DeskMaterialOptions" class="control-label"></label>
                <select asp-for="Quote.DeskMaterialOptions" class="form-control"
                        asp-items="Html.GetEnumSelectList<Models.DeskMaterialOptions>()"></select>
                <span asp-validation-for="Quote.DeskMaterialOptions" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Quote.DeskDrawers" class="control-label"></label>
                <input asp-for="Quote.DeskDrawers" class="form-control" />
                <span asp-validation-for="Quote.DeskDrawers" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Quote.RushDays" class="control-label"></label>
                <input asp-for="Quote.RushDays" class="form-control" />
                <span asp-validation-for="Quote.RushDays" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-md-3">
                <label asp-for="Quote.ID" class="control-label"></label>
                <input disabled asp-for="Quote.ID" class="form-control" />
            </div>
            <div class="form-group  col-md-3">
                <label asp-for="Quote.Size" class="control-label"></label>
                <input disabled asp-for="Quote.Size" class="form-control" />
            </div>
            <div class="form-group  col-md-3">
                <label asp-for="Quote.Price" class="control-label"></label>
                <input disabled asp-for="Quote.Price" class="form-control" />
            </div>
            <div class="form-group  col-md-3">
                <label asp-for="Quote.Date" class="control-label"></label>
                <input disabled asp-for="Quote.Date" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-md-1">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
